---
- name: Ensure backup mount directory exists
  become: true
  ansible.builtin.file:
    path: "{{ backup.mountDir }}"
    state: directory
    mode: "0755"

- name: Create CIFS credentials file
  become: true
  ansible.builtin.copy:
    content: |
      username={{ backup.username }}
      password={{ backup.password }}
    dest: "{{ mount_backup_server_credentials }}"
    mode: "0600"

- name: Ensure CIFS mount is present in /etc/fstab and mounted
  become: true
  ansible.posix.mount:
    path: "{{ backup.mountDir }}"
    src: "//{{ backup.host }}/{{ backup.serverDir }}"
    fstype: "cifs"
    opts: "credentials={{ mount_backup_server_credentials }},vers=2.0,uid={{
      backup.mountUid }},gid={{ backup.mountGid }},file_mode=0644,dir_mode=0755"
    state: "mounted"
