---
- name: Install Fastfetch
  become: true
  ansible.builtin.apt:
    name:
      - fastfetch
    update_cache: true
    state: latest

- name: Clear /etc/motd
  become: true
  ansible.builtin.copy:
    content: ""
    dest: /etc/motd
    owner: root
    group: root
    mode: "0644"

- name: Transfer files to /etc/update-motd.d and set permissions
  become: true
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/update-motd.d/{{ item | basename }}"
    owner: root
    group: root
    mode: "0755"
  loop: "{{ lookup('fileglob', 'files/*', wantlist=True) }}"
