---
- name: Install Tools
  become: true
  ansible.builtin.apt:
    name:
      - git
      - jq
      - yq
    update_cache: true
    state: latest

- name: Transfer .gitconfig
  ansible.builtin.template:
    src: ".gitconfig"
    dest: "{{ ansible_env.HOME }}/"
    mode: "0644"
