---
- name: Read current nvram values
  ansible.builtin.command: "nvram get {{ item.key }}"
  loop: "{{ nvram_entries | dict2items }}"
  register: router_configure_nvram_get_results
  changed_when: false

- name: Prepare changes
  ansible.builtin.set_fact:
    router_configure_nvram_changes: >-
      {{
        router_configure_nvram_changes | default([]) +
        (
          [ { 'key': item.item.key, 'desired': item.item.value } ]
          if (item.stdout | default('')) != item.item.value else []
        )
      }}
  loop: "{{ router_configure_nvram_get_results.results }}"

- name: Apply nvram set
  ansible.builtin.command: 'nvram set {{ item.key }}="{{ item.desired }}"'
  loop: "{{ router_configure_nvram_changes }}"
  when: router_configure_nvram_changes | length > 0
  changed_when: true
  notify: Commit nvram
