---
# https://stackoverflow.com/questions/61972815/ansible-modify-cmdline-txt-on-raspberry-pi
- name: Add cmdline.txt
  become: true
  ansible.builtin.replace:
    path: /boot/firmware/cmdline.txt
    regexp: '^([\w](?!.*\b{{ item }}\b).*)$'
    replace: '\1 {{ item }}'
  with_items: "{{ add_cmdline_txt }}"
