---
authorized_key_names:
  - deploy-webhook
  - hass.home
ssh_key_name: manager.home

add_cmdline_txt:
  - "cgroup_enable=cpuset"
  - "cgroup_memory=1"
  - "cgroup_enable=memory"

shell_context_color: 175

cron_jobs:
  # Weekly
  - name: "docker-prune-sh"
    job: "docker system prune -a -f"
    hour: 5
    weekday: "6"
  # Daily
  - name: "backup-home-sh"
    job: "{{ ansible_env.HOME }}/repository/shellpot/backup-home.sh"
    hour: 4
  # Staggered every 10 minutes
  - name: "grafana-sync-sh"
    job: "{{ ansible_env.HOME }}/repository/shellpot/grafana-sync.sh"
    minute: "1-51/10"
  - name: "hass-config-sync-sh"
    job: "{{ ansible_env.HOME }}/repository/shellpot/hass-config-sync.sh"
    minute: "2-52/10"
  - name: "home-wiki-sync-sh"
    job: "{{ ansible_env.HOME }}/repository/shellpot/home-wiki-sync.sh"
    minute: "3-53/10"
