name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Create vault password file
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASS }}" > ~/.vault_pass.txt
          chmod 600 ~/.vault_pass.txt
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
        with:
          setup_python: "true"
          requirements_file: "requirements.yml"
